<md-dialog ng-controller="DialogController as dc">
    <form ng-submit="dc.addNewMember()">
        <md-dialog-content layout="column">

            <h3>Dodaj novog člana</h3>
            <md-input-container><label>Ime</label>
                <input ng-model="firstName" type="text" required>
            </md-input-container>
            <md-input-container>
                <label>Prezime</label>
                <input ng-model="lastName" type="text" required>
            </md-input-container>

        </md-dialog-content>
        <div class="md-actions">
            <md-button ng-click="dc.closeDialog()" class="cancel" type="button">Odustani</md-button>
            <md-button type="submit" class="md-primary add">Dodaj</md-button>
        </div>
    </form>
</md-dialog>