p
  color black

h3
  font-weight bold
  text-transform capitalize

body
  background-color rgba(0, 0, 0, 0.05)

md-list
  padding 0

md-list-item
  transition all 0.3s
  margin-bottom 4px
  box-shadow 0px 1px 2px 0px #000

md-list-item:hover
  background-color rgba(139, 19, 19, 0.87)
  color #f2f2f2

md-list-item:hover .md-list-item-text:hover h3
  color #f2f2f2

md-list-item:hover .md-list-item-text:hover p i
  color #f2f2f2

md-list-item > .md-avatar:first-child
  height 45px
  width 45px
  margin-right 20px

.animation
  transition: 500ms !important

.animation.ng-enter
  opacity: 0

.animation.ng-leave
  opacity: 1

.animation.ng-enter.ng-enter-active
  opacity: 1

.animation.ng-leave.ng-leave-active
  opacity: 0

button.md-fab.md-primary.md-hue-2.md-button.md-default-theme
  position fixed
  z-index 100
  bottom 40px
  right 50px
  transition all 0.4s

button.md-fab.md-primary.md-hue-2.md-button.md-default-theme:hover
  background-color #007314
  color #f2f2f2

button.md-fab.md-primary.md-hue-2.md-button.md-default-theme > img#add-new-member
  height 30px

.md-button.cancel:not([disabled]):hover
  background-color rgba(0, 0, 0, 0.9)
  color #f2f2f2

.md-button.add:not([disabled]):hover
  background-color #007314
  color #f2f2f2

md-input-container
  width 300px