<div ng-controller="TeamMembersController as tc" ng-cloak>
  <md-content>
    <md-list>
      <md-list-item class="md-2-line animation" ng-repeat="member in tc.members | filter:query">
        <img ng-src="../assets/F1.png" class="md-avatar" alt="Slika člana"/>
        <div class="md-list-item-text" layout="column">
          <h3>{{ member.firstName + " " + member.lastName }}</h3>
          <p><i>Član</i></p>
        </div>
      </md-list-item>
    </md-list>

    <md-button class="md-fab md-primary md-hue-2 md-raised" aria-label="Profile" ng-click="tc.showDialog($event)">
      <img src="../assets/rsz_user-add-512.png?50" id="add-new-member" alt="">
    </md-button>
  </md-content>
</div>