<div ng-controller="MainController as mc">

  <div class="container">
    <a ng-repeat="team in mc.teams | filter:query"
       class="item md-button animation"
       ng-href="{{team.name}}/{{team._id}}">
      <div class="content">
        <h4>{{mc.fullTeamName[team.name]}}</h4>
        <i><p class="member-count">{{team.size}} član<span
          ng-show="team.size != 1 && team.size != 11 && team.size%10 != 1">a</span></p></i>
      </div>
    </a>
  </div>

</div>

