colors = rgba(145, 206, 184, 0.88), rgba(3, 195, 131,0.88),	rgba(251, 191, 69, 0.88),
        rgba(239, 106, 50, 0.88), rgba(237, 3, 69, 0.88),	rgba(198, 71, 132, 0.88),
        rgba(131, 1, 98, 0.88), rgba(51, 111, 196, 0.88),	rgba(145, 122, 184, 0.88),
        rgba(3, 195, 131, 0.88), rgba(170, 217, 98, 0.88),	rgba(251, 191, 69, 0.88),
        rgba(239, 106, 50, 0.88), rgba(50,56,49, 0.88),	rgba(113, 1, 98, 0.88),
        rgba(251, 191, 69, 0.88), rgba(51, 124, 196, 0.88),	rgba(95, 48, 2, 0.88),
        rgba(95, 2, 37, 0.88), rgba(6, 2, 95, 0.88), rgba(184,47,52,0.88),
        rgba(8, 95, 2, 0.88), rgba(2, 95, 55, 0.88)



.container
  display flex
  flex-flow row wrap
  justify-content flex-start
  for clr, i in colors
    .item:nth-child({i})
      background-color clr


.item
  width 19%
  height 25%
  margin: 1px
  display: flex
  justify-content: center

.content h4
  white-space normal
  color #f2f2f2
  text-shadow 1px 1px 1px rgba(0, 0, 0, 0.2)
  font-size 14px
  font-weight 600
  letter-spacing 0px
  text-align center
  font-family 'sansation', sans-serif
  line-height 20px
  margin-bottom 3px
  text-transform none

.member-count
  font-size 0.82em
  color rgba(248, 248, 255, 0.7)
  margin-top 1px
  text-transform none
  line-height 20px
  position relative
  border-top  1px solid rgba(255, 255, 255, 0.07)


.container .md-button
  border-radius 0px

  .md-button {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 0px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
  }

.animation
  transition: 500ms !important

.animation.ng-enter
  opacity: 0

.animation.ng-leave
  opacity: 1

.animation.ng-enter.ng-enter-active
  opacity: 1

.animation.ng-leave.ng-leave-active
  opacity: 0

a.md-button:not([disabled]):hover, .md-button:not([disabled]):hover
  background-color rgba(0,0,0,0.9)