@import "jeet"

body
  background-color rgba(250, 250, 255, 0.62)
  height auto

.main
  max-width 80%
  margin auto

.md-whiteframe-z1
  background-color #ffffff

[ng-cloak] {
  display: none;
}

  .black
    background-color black
    margin-bottom 5px
    box-shadow 0px 0px 2px 1px #655656

img#logo
  height 45px

md-toolbar
  flex-direction row
  justify-content space-between

input#search
  background:#fff no-repeat 13px 13px
  border: none
  height 35px
  width: 45%
  align-self center
  line-height: 19px
  border-radius: 12px
  box-shadow: 0 1px 6px #c4c4c4 inset
  text-align: left
  font-size: 12px
  padding-top 5px
  font-family: inherit
  color: rgba(134, 149, 156, 0.8)
  font-weight: 600
  outline none
  text-indent 45px
  margin-right 35px
  background-image url("../assets/icon-magnifying-glass.png")

// injector
// endinjector
