<html ng-app="seed-angular">
<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1">

  <link rel="shortcut icon" href="assets/favicon.ico"/>
  <link rel="icon" href="assets/favicon.ico">

  <title>angular-seed</title>

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
</head>
<body ng-app="seed-angular">
<md-toolbar class="black">
  <div class="md-toolbar-tools">
    <a href="/">
      <img id="logo" src="https://www.estudent.hr/wp-content/uploads/2015/02/small-logo-e1424702417703.png"
           alt="eSTUDENT Logo">
    </a>
  </div>

  <!-- TODO: Dodat novog člana tako da se iz dropdowna izabere team -->

  <input ng-model="query" id="search" type="text" placeholder="Pretraži po nazivu tima" class="ng-pristine ng-valid">
</md-toolbar>

<div class="main">
  <div ng-view></div>
</div>
<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->


<!-- build:js({.,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
